.app {
  text-align: center;
  background-color: #23272f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace;
  font-weight: 400;
}

h1 {
  font-weight: 500;
}

.typewriter {
  color: #00d8ff;
}
